@import '~antd/dist/antd.css';

@media (min-width: 700px) {
  .showInMobile {
    display: none !important;
  } 
}
  
@media (max-width: 701px) {
  .leftMenu {
      display: none !important;
  }
}

.navStyle {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
  color: #ffffffa6;
}

.logo {
  font-size: 18px;
  font-weight: 700;
  color: #ffffffa6;
}