@import '~antd/dist/antd.css';

@media (min-width: 576px) {
    .divider {
        display: inline;
        /* border-left: 1px solid #ECECEC;
        padding-left: 30px !important; */
    }
  }

  .imgContainer {
      display: flex;
      justify-content: center;
      margin-bottom: 20px;
  }

  .imgSize {
      width: 150px;
      height: 150px;
      margin: 0 auto !important;

  }

  .selectStyle {
    width: 100%;
    margin-bottom: 10px !important;
  }

  .avatarContainer {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }

  .avatarStyle {
    box-shadow: 0 0 4px #262626;
    margin-bottom: 1.5rem !important;
  }

  .container {
    padding: 1.5rem;
    border-radius: 2px;
    font-weight: 600;
  }

  .activeContainer {
    background-color: rgba(250, 140, 22, 0.05);
    border: 1px solid rgba(250, 140, 22, 0.520);
    color: #fa8c16;
  }

  .pasiveContainer {
      background-color: rgba(236, 236, 236, 0.2);
      border: 1px solid rgba(236, 236, 236, 1);
  }

  .scoreStyle {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #fa8c16;
    border-radius: 50%;
    font-weight: 500;
    font-size: 15px;
  }

  .answered {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
  }