@import '~antd/dist/antd.css';

@media only screen and (max-width: 568px) {
  .divider {
        display: none !important;
    }
  }

  .imgContainer {
      display: flex;
      justify-content: center;
      margin-bottom: 20px;
  }

  .imgSize {
      width: 150px;
      height: 150px;
      margin: 0 auto !important;

  }

  .selectStyle {
    width: 100%;
    margin-bottom: 10px !important;
  }

  .avatarContainer {
    height: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .avatarStyle {
    box-shadow: 0 0 4px #262626;
  }

  .scorContainer {
    height: 100%;
    display: flex;
    justify-content: center;
  }
  .scoreStyle {
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    background-color: #fa8c16;
    border-radius: 100%;
    font-weight: 700;
    font-size: 20px;
  }

  .answered {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
  }

  p {
    font-size: 18px;
  }

  .medals-container {
    height: 85px;
    width: 85px;
    position: absolute;
    left: 0;
    top:0px;
    background:#ECECEC;
    align-content: center;
    padding: 5px 10px;
    font-size: 32px;
    clip-path: polygon(1% 1%, 0% 100%, 100% 0);
    }

    .medal-1 {
      color: gold;
    }

    .medal-2 {
      color: rgb(102, 100, 100);
    }

    .medal-3 {
      color:#fa8c16;
    }

    .loading {
      background-color: #fa8c16;
      height: 3.5px;
    }

    




   

    
  